body{
    background-color: rgb(2, 2, 51);
}

.container{
    display:flex;
    justify-content: space-around;
}

h1{
    font-size: 3rem;
    width:100%;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    padding:10px;
    background-color: rgb(190, 13, 13);
}
.display-board{
    width:30%;
    align-items: center;
    
}

.display-client-tickets{
    width:50%;
    }

#play, #buy{
    width:50%;
    font-size: 40px;
    display: block;
    border: 2px solid rgb(82, 75, 75);
    border-radius: 20px;
    margin:20px auto ;
    box-shadow: 3px 3px rgb(99, 96, 96);
}


h2{
    font-size: 2rem;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    padding:10px;
    border: 2px solid red;
    border-radius:15px;    
}

#cells-container{
    padding:15px;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width:100%;
    height:auto;
    border: 3px dotted white;
}


#tickets-container{
    padding:15px;
    color: white;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width:100%;
    height:auto;
    border: 3px dotted white;
}

.cell{
    font-size: 30px;
    background-color:rgb(235, 16, 16);
    min-height: 30px;
    padding:5px;
    margin: 3px;
    display:inline-block;
    background-color:rgb(58, 55, 55);
    color:white;
    width:50px;
    text-align: center;
    border: 1px solid rgb(150, 142, 142);
    border-radius: 5px;
}
.cellOnTicket{
    font-size: 30px;
    background-color:rgb(235, 16, 16);
    min-height: 30px;
    padding:5px;
    margin: 4px;
    display:inline-block;
    background-color:rgb(184, 132, 37);
    color:white;
    width:50px;
    text-align: center;
    border: 1px solid rgb(150, 142, 142);
    border-radius: 5px;
}

.ticket{
background:burlywood;
width: 45%;
height:100px;
box-shadow:2px 2px rgb(167, 164, 164); 
margin:10px;
}

.selected-number{
    font-size: 25px;
    background-color:rgb(245, 235, 235);
    min-height: 30px;
    padding:5px;
    margin: 3px;
    display:inline-block;
    background-color:rgb(58, 55, 55);
    color:white;
    width:30px;
    text-align: center;
    border: 1px solid rgb(80, 12, 12);
    border-radius: 5px;

}

#play:hover, #buy:hover {
background-color: rgb(199, 185, 185);
border-color:greys ;
}